div#produto {
  display: flex;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

div#produto > .info > img {
  width: 30vw;
}

div#produto > .info > div {
  width: max-content;
}

div#produto > .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}



div#produto h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

div#produto h2 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

div#produto div {
  width: 50vw;
  text-align: center;
}
.criador {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  color: #a17253;
  transition: 0.8s;
}

.criador > img {
  transition: 0.2s;
}

.criador:hover > img {
  transform: scale(1.1);
}

.criador:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.criador > img {
  width: 4rem;
  height: 4rem;
  border-radius: 2.5rem;
}

table, th, td {
border: 1px solid black;
}

table {
border-collapse: collapse;
margin: auto;
}

th, td{
padding: 10px;
text-align: center;
width: 120px;
}

th{
font-weight: bold;
}


tr:nth-child(even) {
background-color: #e9cabb;
}

tr:hover:nth-child(1n + 2) {
background-color: #635208;
color: #fff;
}

div.lances {
  width: fit-content;
  text-align: center;
}